## Data Types
Variables can store data of different types.
We can do different things using different data types.

Some common examples of data types built-in by default in Python are:

Text Type: str
Numeric Types: int, float
Sequence Types: list, tuple, range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes, bytearray, memoryviews

## Numeric

We can apply arithmetic operators to numeric types.

+: addition
-: subtraction
*: multiplication
/: division
%: modulus
**: Exponentiation
//: floor division

## Integers
Integers: Zero, positive, and negative whole numbers without a fractional part1
−
1
)

## Float
Float: Positive and negative real numbers with a fractional part denoted by the decimal symbol or the scientific notation using e

Example: 5.32

## Bollean
Boolean data type
<variable_name> = <'True' or 'False'>

We can apply logic operators on Booleans values.

not x is True if x is False or False if x is True
x and y gives True if both are True
x or y gives True if either or both are True

## String
String
String data types" <variable name" >=" <String sequence">

Single quotes ´ ´ or double quotes " " can be used to denote a string (see Lecture 0).

String is immutable
String is an immutable, i.e., the value of an object of type string is permanent (cannot be changed). Let's test this.

In [1]:
str = "Hello"
print(id(str))
str = "Hi"
print(id(str))

#Note that the memory addresses for "Hello" and "Hi" are different.

2408357599792
2408358183600

## Indexing string
Squared brackets are used to perform indexing into a string to get the value at a certain position (index).

In [2]:
subject = 'Data science'
print("index 0 is", subject[0])
print("index -1 is ", subject[-1])

index 0 is D
index -1 is  e

Strings in Python are arrays of bytes representing unicode characters.
Python does not have a character data type. A single character is a string with a length of 1.

## Slicing for substrings
We can slice strings using [start:stop:step].
If only two numbers are given, [start:stop], then step is set to 1 by default.

In [3]:
print(subject[0:2])
print(subject[:3])
print(subject[3:])
print(subject[::3])
print(subject[::])
print(subject[::-2])

Da
Dat
a science
Dacn
Data science
enisaa

In [4]:
# Try to change the content of variable subject from 'Data Science' to 'data science'
subject[0] = 'd'

TypeError: 'str' object does not support item assignment

String is immutable, thats why we get an error message

In [5]:
subject = 'd' + subject[1:]
subject

'data science'

In [6]:
sub = 'try1'
print(id(sub))

2408364517808

In [7]:
sub = 'T' + sub[1:]
print(id(sub))

2408364721840

In [8]:
sub

'Try1'

## String Methods

In [9]:
subject = 'Data ScienCe uses data'

# Count how many 'a'
print(subject.count('a'))
# Count how many 'a', between index 3 and 5 inclusive
print(subject.count('a',3,5))
# Find the first occurence of 'ta'
print(subject.find("ta"))
# Find the last occurence of 'ta'
print(subject.rfind("ta"))
print(subject.lower())
print(subject.upper())
print(subject.capitalize())
print(subject.title())
print(subject.swapcase())
print(subject)

4
1
2
20
data science uses data
DATA SCIENCE USES DATA
Data science uses data
Data Science Uses Data
dATA sCIENcE USES DATA
Data ScienCe uses data

## Conversion functions
ord(): converts a character value to ASCII code
chr(): converts ASCII code to character
int(): converts into the int data type
float(): converts into the float data type

## Data Structure

Data structure is a group of data elements grouped together under one name (e.g., an array of integers). The data structure gives a way of storing and organising data in a computer so that it can be used efficiently and effectively.

## Python Collections
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is ordered (from Python 3.7) and changeable. No duplicate members.

## List
Lists

ordered sequence of information, accessible by index

a list is denoted by square brackets, []

a list contains elements

usually homogeneous (i.e., all integers)
can contain mixed types (not common)

In [10]:
# A list of integers
l1 = [1, 2, 3, 4]
l1

[1, 2, 3, 4]

In [11]:
# A list of strings
l2 = ['Data Science', 'Programming', 'Python', 'Computer Science']
l2

['Data Science', 'Programming', 'Python', 'Computer Science']

In [12]:
# A list of mixed objects
l3 = [2, 1, 'Data Science', [1, 2, 3, 1]]
l3

[2, 1, 'Data Science', [1, 2, 3, 1]]

## Memory allocation of elements in list

In [13]:
# Memory allocation of elements in List
print(id(l3[0]))
print(id(l3[1]))
print(id(l3[3]))
print(id(l3[3][0]))
print(id(l3[3][1]))
print(id(l3[3][2]))
print(id(l3[3][3]))

140708313831216
140708313831184
2408364509568
140708313831184
140708313831216
140708313831248
140708313831184

A: The id(l3[1]) is the same with id(l3[3][0]) and the same with id(l3[3][3]) as they all have integer 1 as their value/content.

In [17]:
print(l3[2])
print(l3[2][1])
print(l3[2][3])
print(id(l3[2][1]))
print(id(l3[2][3]))

Data Science
a
a
2408289741360
2408289741360

#### Lists are mutable

In [18]:
print(l3)
print(id(l3[0]))
l3[0] = 'Hi'
print(id(l3[3][1]))
print(l3)

[2, 1, 'Data Science', [1, 2, 3, 1]]
140708313831216
140708313831216
['Hi', 1, 'Data Science', [1, 2, 3, 1]]

In [19]:
print(l3)
print(id(l3))
print(id(l3[1]))
print(id(l3[3][0]))
l3[1] = 'Hi'
print(l3)
print(id(l3))
print(id(l3[1]))
print(id(l3[3][0]))

['Hi', 1, 'Data Science', [1, 2, 3, 1]]
2408358186560
140708313831184
140708313831184
['Hi', 'Hi', 'Data Science', [1, 2, 3, 1]]
2408358186560
2408358183600
140708313831184

In [21]:
print(id(l3[0]))

2408358183600

In [22]:
print("Hi" in l3)

True

### List operations

In [23]:
print(l1)
l4 = [5, 6, 7]
l5 = l1 + l4
print(l5)
l6 = 3 * l1
print(l6)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### List slices

In [24]:
print(l2)

# Print element 1 and element 2
print(l2[1:3])

# Print the first three elements
print(l2[:3])

# Print all elements from position 3
print(l2[3:])

# Print all elements
print(l2[:])

['Data Science', 'Programming', 'Python', 'Computer Science']
['Programming', 'Python']
['Data Science', 'Programming', 'Python']
['Computer Science']
['Data Science', 'Programming', 'Python', 'Computer Science']

### List methods

In [25]:
# append: adds a new element to the end of a list
l2.append('AI')
print(l2)

['Data Science', 'Programming', 'Python', 'Computer Science', 'AI']

In [26]:
# extend: takes a list as an argument and appends all of the elements
lnew = ['Machine Learning', 'Software']
l2.extend(lnew)
print(l2)

['Data Science', 'Programming', 'Python', 'Computer Science', 'AI', 'Machine Learning', 'Software']

In [27]:
# sort: arranges the elements of the list from low to high
l2.sort()

In [28]:
print(l2)

['AI', 'Computer Science', 'Data Science', 'Machine Learning', 'Programming', 'Python', 'Software']

In [29]:
# sort() mutates the list, but returns nothing. 
# sorted() returns the sorted list but does not mutate list

l2 = ['Data Science', 'Programming', 'Python', 'Computer Science']
sorted(l2)

['Computer Science', 'Data Science', 'Programming', 'Python']

In [30]:
print(l2)
#Note that l2 is still as before

['Data Science', 'Programming', 'Python', 'Computer Science']

In [31]:
# list: converts a string to a list of characters

print(l2[1])
l2_new = list(l2[1])
print(l2_new)

Programming
['P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [32]:
# split: breaks a string into words
# delimiter: specifies which characters to use as word boundaries 
    
sentence = 'Programming is fun'
delimiter = ' '
s = sentence.split(delimiter)
print(s)

['Programming', 'is', 'fun']

In [33]:
# join: puts a space between words
# We can also use other delimiter than ' '.

s_new = delimiter.join(s)
print(s_new)

Programming is fun

In [34]:
list1 = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']
print(list1[2][2])
print(list1[-3][-1][-2])
print(list1[-3][-1][-1][-1])
print(list1[-3][-1][-2][2])
print(list1[-3][-1][-1][-3])

['eee', 'fff']
eee
f
e
f

In [35]:
# Create an alias
# Let's set l2_new as an alias for l2

print(l2)
l2_new = l2
l2_new.append('Databases')
print(l2)
print(l2_new)
print(id(l2))
print(id(l2_new))

['Data Science', 'Programming', 'Python', 'Computer Science']
['Data Science', 'Programming', 'Python', 'Computer Science', 'Databases']
['Data Science', 'Programming', 'Python', 'Computer Science', 'Databases']
2408364758784
2408364758784

In [37]:
print(l2)

# Let's clone l2 (i.e., create a new list and copy every element in l2 to the new list)
l2_new_new = l2[:]
print(l2_new_new)

# Understanding the difference between cloning and using alias.
print(id(l2))
print(id(l2_new_new))

['Data Science', 'Programming', 'Python', 'Computer Science', 'Databases']
['Data Science', 'Programming', 'Python', 'Computer Science', 'Databases']
2408364758784
2408358035584

Insert is computationally expensive compared to append because we need to shift elements internally to make room for the new element(s). See the link for information on time complexity.

In [39]:
# sum: adds up the elements of a list
l1 = [0, 1, 2, 3, 4]
sum(l1)

10

In [40]:
# pop: modifies the list and returns the element that was removed. If no index is provided, it deletes and returns the last element.
item = l1.pop(1)
print(item)

1

In [41]:
# Let's check if the list has been modified
print(l1)

[0, 2, 3, 4]

In [42]:
item = l1.pop()
print(item)
print(l1)

4
[0, 2, 3]

In [43]:
# del: if we don't need the popped/deleted item, we can use del to delete an element at the specified index.
del l1[1]

In [44]:
print(l1)

[0, 3]

In [45]:
# remove: if we know the element that we want to remove but not the index.
l1.remove(3)

In [46]:
print(l1)

[0]

## Tuple
Tuple:

an ordered sequence of elements, which can be of mix element types
represented with parentheses

In [47]:
#Empty tuple
t1 = tuple()
print(t1)

()

In [48]:
# Tuple with five elements
t = ('a', 1, 'cc', 2.5, 'eee')
print(t)

('a', 1, 'cc', 2.5, 'eee')

In [56]:
# To create a tuple with one element, use an extra comma at the end
t2 = ('a',)
print(t2)
type(t2)

('a',)

tuple

In [57]:
# Same tuple but without the comma
t2 = ('a')
print(t2)
type(t2)

a

str

In [58]:
# Tuple concatenation
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [59]:
# Tuple slices
print(t)
print(t[1:2])
print(t[1:3])

('a', 1, 'cc', 2.5, 'eee')
(1,)
(1, 'cc')

### Tuples are immutable

In [60]:
t[0]=2

TypeError: 'tuple' object does not support item assignment

### Tuple operators

* +: concatenation
* *: repepition
* in: returns true if an item exist in the given table
* not in: returns true if an item does not exist in the given tuple

#### Tuple methods
1. len(): returns the number of elements in the tuple
1. max(): return the highest number in the tuple if the tuple contains numbers, or returns the one that comes last in the alphabetic order if the tuple contains characters.
1. min(): return the smallest number in the tuple if the tuple contains numbers, or returns the one that comes first in the alphabetic order if the tuple contains characters.

In [61]:
x = 9
y = 7

# To swap the values of x and y, we normally would do: 
temp = x
x = y
y = temp

print(x)
print(y)

7
9

In [65]:
x = 9
y = 7
print(x,",",y)
# We can use tuple to swap the values of two variables. 
(x, y) = (y, x)

print(x)
print(y)

9 , 7
7
9

In [66]:
# We can use tuple to return more than one value from a function.

def quotientRemainder(x, y):
    q = x // y
    r = x % y
    return(q,r)

In [68]:
quotientRemainder(10,3)

(3, 1)

Set
The set is a Python implementation of the set in Mathematics.
A set object contains one or more items, not necessarily of the same type, which are separated by comma and enclosed in curly brackets {}. 

set = {value1, value2, value3, ..., val
    ueN}
A set does not store duplicate objects.
Sets are unordered.
A set itself may be modified, but the elements contained in the set must be of an immutable type.

In [69]:
# A set does not store duplicate objects.
# Even if an object is added more than once inside the curly brackets, only one copy is held in the set object.

s1 = {1, 2, 2, 3, 4, 5, 5, 6, 6}
print(s1)

{1, 2, 3, 4, 5, 6}

In [70]:
# Sets are unordered.
# Let's test this using set() function.

s1 = set("Python course")
print(s1)

{'P', 'n', 'o', 'h', 't', 'c', 'u', 's', 'e', ' ', 'y', 'r'}

In [71]:
s2 = set([12, 51, 83])
print(s2)
s3 = set([83, 12, 51])
print(s3)
s4 = set([51, 12, 83])
print(s4)

{83, 51, 12}
{51, 83, 12}
{83, 51, 12}

### Set operations

In [73]:
# Union of two sets
print(s1)
print(s2)
s1 | s2

{'P', 'n', 'o', 'h', 't', 'c', 'u', 's', 'e', ' ', 'y', 'r'}
{83, 51, 12}

{' ', 12, 51, 83, 'P', 'c', 'e', 'h', 'n', 'o', 'r', 's', 't', 'u', 'y'}

In [74]:
# Union of two sets
s1.union(s2)

{' ', 12, 51, 83, 'P', 'c', 'e', 'h', 'n', 'o', 'r', 's', 't', 'u', 'y'}

In [75]:
# Intersection of two sets
s1 & s2

set()

In [76]:
# Intersection of two sets
s1.intersection(s2)

set()

In [80]:
# Difference of two sets
s1 - s2

{' ', 'P', 'c', 'e', 'h', 'n', 'o', 'r', 's', 't', 'u', 'y'}

In [81]:
# Difference of two sets
s2 - s1

{12, 51, 83}

In [82]:
# Difference of two sets
s1.difference(s2)

{' ', 'P', 'c', 'e', 'h', 'n', 'o', 'r', 's', 't', 'u', 'y'}

In [83]:
# Difference of two sets
s2.difference(s1)

{12, 51, 83}

In [84]:
# Symmetric difference
s1^s2

{' ', 12, 51, 83, 'P', 'c', 'e', 'h', 'n', 'o', 'r', 's', 't', 'u', 'y'}

In [85]:
# Symmetric difference (a set of elements that are in either set, but not in their intersection)
s1.symmetric_difference(s2)

{' ', 12, 51, 83, 'P', 'c', 'e', 'h', 'n', 'o', 'r', 's', 't', 'u', 'y'}

In [86]:
# add: Adds a new element in the set object
s1 = {'Programming', 'Databases', 'Computer Science'}
s1.add('Python')
print(s1)

{'Computer Science', 'Programming', 'Python', 'Databases'}

In [87]:
# update: Adds multiple items from a list or a tuple
s1.update(['Data Science', 'AI'])
print(s1)

{'Python', 'Data Science', 'Databases', 'AI', 'Computer Science', 'Programming'}

In [88]:
# copy: Creates a copy of the set object
s2 = s1.copy()
print(s2)

{'Computer Science', 'Python', 'Data Science', 'Databases', 'Programming', 'AI'}

In [89]:
# clear: Removes the contents of a set object and results in an empty set.
s2.clear()
print(s2)

set()

In [92]:
# discard: Removes an item from a set and returns the new set. No changes are done if the item to be removed is not present.
print(s1)
s1.discard('Computer Science')
print(s1)

{'Python', 'Data Science', 'Databases', 'AI', 'Programming'}
{'Python', 'Data Science', 'Databases', 'AI', 'Programming'}

In [94]:
# remove: Removes an item from a set and returns the new set. Results in an error if the item to be removed is not present.
s1.remove('Databases')
print(s1)

KeyError: 'Databases'

In [95]:
{'b', 'a', 'r'} & set('qux')

set()

#### Frozen Sets
A frozen set is just like a set, except that a frozenset is immutable.
You can perform non-modifying operations on frozensets.

In [1]:
# To create a frozen set
fs1 = frozenset({6, 2, 3, 3, 3, 4, 5, 5, 1})
fs1

frozenset({1, 2, 3, 4, 5, 6})

In [2]:
fs1.clear()
fs1

AttributeError: 'frozenset' object has no attribute 'clear'

In [3]:
fs2 = frozenset({'a', 'b', 'c'})
fs2

frozenset({'a', 'b', 'c'})

In [4]:
fs1.difference(fs2)

frozenset({1, 2, 3, 4, 5, 6})

In [6]:
fs1.intersection(fs2)

frozenset()

In [7]:
fs1.union(fs2)

frozenset({1, 2, 3, 4, 5, 6, 'a', 'b', 'c'})

In [8]:
fs3 = frozenset({'d', 'e', 'c'})

In [9]:
print(fs2.isdisjoint(fs3))
print(fs2.symmetric_difference(fs3))
print(fs2.issubset(fs3))
print(fs2.issuperset(fs3))
print(len(fs3))

False
frozenset({'b', 'a', 'd', 'e'})
False
False
3

Frozenset is used when we want the content to be fixed.

In [10]:
s_fs = {'g', 'h', fs3}
print(s_fs)

{'h', frozenset({'c', 'd', 'e'}), 'g'}

In [11]:
s_fs_new = {'g', 'h', {1, 2, 3, 4, 5, 6, 'a', 'b', 'c'}}
print(s_fs_new)

TypeError: unhashable type: 'set'

## Dictionary
A dictionary is like a list:

List: indices have to be integers
Dictionary: indices can be of any type
Dictionary allows mapping between a set of indices (keys) and a set of values. Each key maps to a value.

The association of a key and a value is called a key-value pair.

In [12]:
eng2sv = dict()
eng2sv = {'one': 'ett', 'two': 'två', 'three': 'tre'}
print(eng2sv)
print(eng2sv['two'])

{'one': 'ett', 'two': 'två', 'three': 'tre'}
två

In [13]:
eng2sv2 = {}
eng2sv2 = {'one': 'ett', 'two': 'två', 'three': 'tre'}
print(eng2sv2)
print(eng2sv2['two'])

{'one': 'ett', 'two': 'två', 'three': 'tre'}
två

### Dictionary methods

In [14]:
# len: returns the number of key-value pairs
len(eng2sv)

3

In [15]:
# in: checks if the item appears as a key in the dictionary
'one' in eng2sv

True

In [16]:
k = eng2sv.keys()
k

dict_keys(['one', 'two', 'three'])

In [17]:
# value: returns the values as a list
v = eng2sv.values()
v

dict_values(['ett', 'två', 'tre'])

To get the keys in a dict: 
> x = dict.keys()

To get the values in a dict:
> x = dict.values()

In [18]:
# get the items
dict_items = eng2sv.items()
dict_items

dict_items([('one', 'ett'), ('two', 'två'), ('three', 'tre')])

In [19]:
# get the value of a specific item with a specific key
v1 = eng2sv.get('one')
v1

'ett'

In [20]:
# get the value of a specific item with a specific key, if that key does not exist, return 'None'
v2 = eng2sv.get('four', 'None')
v2

'None'

### Dictionary as a set of counters
An advantage of the dictionary implementation is that we do not have to know ahead of time which letters appear in the string.
We only have to make room for the letters that appear.

In [25]:
def histogram(i):
    d = dict()
    for c in i:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d

h = histogram('Data Science')
print(h)

{'D': 1, 'a': 2, 't': 1, ' ': 1, 'S': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}

### Looping and dictionaries
If we use a dictionary in a "for" statement, the "for" statement traverses the "keys" of the dictionary.

In [22]:
def print_hist(h):
    for c in h:
        print(c, h[c])
        
print_hist(h)

D 1
a 2
t 1
  1
S 1
c 2
i 1
e 2
n 1

In [26]:
d = {'a': 10, 'b': 20, 'c': 30}
d['b':'c']

TypeError: unhashable type: 'slice'

You can not slice a dict

### Arrays

Arrays in Python are a compact way of collecting basic data types. All the entries in an array must be of the same data type.

Arrays are not all that popular in Python, unlike the other programming languages such as C++ or Java.
For Python, you need to import a module named "array".

array(data type, value list): create an array with data type and value list specified in its arguments.

#### Methods
We can apply the following methods on arrays:

* append(): adds the value mentioned in its arguments at the end of the array
* insert(i, x): adds the value at the position specified in its argument
* pop(): removes the element at the position mentioned in its argument and returns it
* remove(): removes the first occurence of the value mentioned in its arguments
* index(): returns the index of the first occurences of value mentioned in arguments
* reverse(): reverses the array

In [36]:
import array

# 'i' indicates that the contents are of type integers.
arr = array.array('i', [1, 5, 8]) 
arr

print("The new created array is: ", end = "")
# Optional. Specify what to print at the end. Default is '\n' (line feed) 
for i in range(0,3):
    print(arr[i], end = " ")
    
print("\r")
arr.append(0);
print("The appended array is:", end = " ")
for i in range(0, 4):
    print(arr[i], end = " ")

print("\r")
arr.insert(3,7)
print("The array after insertion is:", end = "")
for i in range (0, 5):
    print(arr[i], end = " ")

The new created array is: 1 5 8
The appended array is: 1 5 8 0
The array after insertion is:1 5 8 7 0

In [37]:
print("The popped element is: ", end = "")
print(arr.pop(2));
print("The array after popping is: ", end = "")
for i in range(0, 4):
    print(arr[i], end = " ")

print("\r")
arr.remove(1)
arr.reverse()
print("The array after removing is: ", end = "")
for i in range(0, 3):
    print(arr[i], end = " ")

The popped element is: 8
The array after popping is: 1 5 7 0
The array after removing is: 0 7 5

### NumPy arrays
* provide a high-performance multidimensional array object, and tools for working with these arrays
* NumPy's library of algorithms, written in C, can operate on this memory without any type checking or other overhead
* use much less memory than built-in Python sequences
* NumPy operations perform complex computations on entire arrays without the need for Python loops

In [38]:
# np is the commonly used alias for numpy
import numpy as np

In [39]:
# create array of integers
np.array([1, 2, 3, 4, 5])

array([1, 2, 3, 4, 5])

In [40]:
# create an array containing items of different types
# what happens?
np.array([1, 'like', 'Python', 2])

array(['1', 'like', 'Python', '2'], dtype='<U11')

## Which data type to use in your program?
### Arrays vs Lists
* Lists can hold homogeneous items, similar to arrays

* Fundamentally different in terms of the operations that can be performed on them.

    * Arrays: operations can be performed on all its item individually
    * Lists: cannot perform operations on all its item individually
* Arrays

    * Need to be declared
    * Very useful when dealing with a large collection of homogeneous data types. Arrays may be faster and uses less memory when compared to lists
    * Are great for numerical operations
* Lists:

* Provides a large set of operations for managing the items contained in the list (inserting, searching, removing, extracting a subset of items, and sorting). The array structure only provides a limited set of operations for accessing the individual elements.

### Tuples vs Lists
* Tuples are immutable. This might be useful in situations where we might pass the control to someone else but we do not want them to manipulate data in our collection.
### Sets vs lists
* Sets are a collection of distinct (unique) objects.
* These are useful to create lists that only hold unique values in the dataset.
* It is an unordered collection but a mutable one. This is very helpful when going through a huge dataset.
### Dictionary
* Dictionaries are useful when we need something similar to a telephone book.
* Dictionaries contain key-value pairs instead of just single elements.